/* --bg-primary: #121212;
--bg-secondary: #1E1E1E;
--text-primary: #E0E0E0;
--text-secondary: #A0A0A0;
--accent-color: #BB86FC;
--accent-hover: #9E65F5;
--danger: #CF6679;
--border-color: #2D2D2D;
--completed-text: #616161; */

.text-custom-color {
  color: rgb(31, 103, 161);
}

.bg-custom-primary-color {
  background-color: #121212;
}

.text-custom-heading-color {
  color: #bb86fc;
}

.bg-custom-secondary-color {
  background-color: #1e1e1e;
}

.text-custom-primary-color {
  color: #e0e0e0;
}

.text-custom-secondary-color {
  color: #a0a0a0;
}

.btn-custom-color {
  color: #bb86fc;
}

.btn-custom-hover-color {
  color: #9e65f5;
}

input:focus {
  border: 2px solid #9e65f5;
  outline: none;
}

.add-todo {
  width: 50%;
  gap: 0.5rem;
}

.addtask-input {
  display: inline;
  flex: 1;
  border: 1px solid #a0a0a0;
  color: #e0e0e0;
}

.addtask-input ::placeholder {
  color: #a0a0a0;
}

/* .add-todo button {
  background-color: #bb86fc;
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
  border: none;
}

.add-todo button:hover,
.add-todo button:focus {
  background-color: #9e65f5;
}

.add-todo button:active {
  background-color: #bb86fc;
} */

.add-todo button:hover {
  background-color: #9e65f5;
  /* background-color: red; */
}

.add-todo button:active {
  background-color: #a874ff; /* light-dark shade for on-click feedback
  /* background-color: blue; light-dark shade for on-click feedback */
}

.add-todo button {
  background-color: #bb86fc;
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
  border: none;
  transition: background-color 0.3s ease;
}

/* Listing Todo Styling */

.list-todos {
  width: 50%;
}

.list-todos li {
  list-style: none;
  /* width: 50%; */
}
